<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/about.css">
</head>
<body>
   {{>header}}
<div class="container">
  <h1 class="main">About us</h1>
  <div class="row">
      <div class="col-md-4">   
  <img src="/img/siddhesh.jpeg" class="img-circle" alt="Cinque Terre" width="304" height="236">
  <div class="font">
      <ul>
          <h1><li><i class="fa fa-instagram"></i>tripathiSiddhesh</li></h1>
          <h1><li><i class="fa fa-whatsapp"></i>8917060988</li></h1>
          <h1><li><i class="fa fa-facebook-official"></i>siddhesh tripathi</li></h1>
      </ul>
  </div>
</div>
<div class="col-md-4">
     <img src="/img/shahrukh.jpeg" class="img-circle" alt="Cinque Terre" width="304" height="236">
      <div class="font">
      <ul>
          <h1><li><i class="fa fa-instagram"></i>Sunny_sharukh.95</li></h1>
          <h1><li><i class="fa fa-whatsapp"></i>6287860088</li></h1>
          <h1><li><i class="fa fa-facebook-official"></i>shahrukh sunny</li></h1>
      </ul>
  </div> 
</div>
<div class="col-md-4">
     <img src="/img/vinayl.jpeg" class="img-circle" alt="Cinque Terre" width="304" height="236"> 
      <div class="font">
      <ul>
          <h1><li><i class="fa fa-instagram"></i>vinaychowdarynalamati</li></h1>
          <h1><li><i class="fa fa-whatsapp"></i>9177625514</li></h1>
          <h1><li><i class="fa fa-facebook-official"></i>vinaychowdarynalamati</li></h1>
      </ul>
  </div>
</div>
</div>  
</div>  

</body>
</html>
