<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="/css/temp.css">
</head>
<body>
    {{>header}}
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-4">
              <div class="card shadow" style="width: 20rem;">
                  <div class="inner">
                   <img src="/img/sid1.jpg" class="card-img-top" alt="...">
                  </div>
                   <div class="card-body text-center">
                        <h5 class="card-title">Live Train status</h5>
                         <a href="/api" class="btn btn-primary">Browse</a>
               </div>
            </div>
          </div>
             <div class="col-md-4">
             <div class="card shadow" style="width: 20rem;">
                 <div class="inner">
                   <img src="/img/train.jpg" class="card-img-top" alt="...">
                  </div>
            <div class="card-body text-center">
                        <h5 class="card-title">Live Station</h5>
                         <a href="/livstation" class="btn btn-primary">Browse</a>
               </div>
            </div>
          </div>
              
             <div class="col-md-4">
                <div class="card shadow" style="width: 20rem;">
                 <div class="inner">
                   <img src="/img/live.jpg" class="card-img-top" alt="...">
                  </div>
                <div class="card-body text-center">
                        <h5 class="card-title">PNR check</h5>
                         <a href="/pnr" class="btn btn-primary">Browse</a>
               </div>
            </div>
          </div>
              
          </div>

      </div>
      <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-4">
              <div class="card shadow" style="width: 20rem;">
                  <div class="inner">
                   <img src="/img/trainsearch.jpg" class="card-img-top" alt="...">
                  </div>
                   <div class="card-body text-center">
                        <h5 class="card-title">Train Search</h5>
                         <a href="/trainsearch" class="btn btn-primary">Browse</a>
               </div>
            </div>
          </div>
             <div class="col-md-4">
             <div class="card shadow" style="width: 20rem;">
                 <div class="inner">
                   <img src="/img/train.jpg" class="card-img-top" alt="...">
                  </div>
            <div class="card-body text-center">
                        <h5 class="card-title">Train Number</h5>
                         <a href="#" class="btn btn-primary">Browse</a>
               </div>
            </div>
          </div>
              
             <div class="col-md-4">
                <div class="card shadow" style="width: 20rem;">
                 <div class="inner">
                   <img src="/img/sid1.jpg" class="card-img-top" alt="...">
                  </div>
                <div class="card-body text-center">
                        <h5 class="card-title">Cancelled Train</h5>
                         <a href="/cancel" class="btn btn-primary">Browse</a>
               </div>
            </div>
          </div>
              
          </div>

      </div>


    {{>footer}}
</body>
</html>