.sid
{
    display: none;
    margin-top: 10px;

}
.sid1
{
    display: none;
    margin-top: 10px;
}
.main{
    text-align: center;
    margin-top: 10px;;
}
#code{
    border-radius: 25%;
    padding: 10px;
}
#done
{
    margin-left: 10px;
}